In [102]:
from importlib import reload
from moviesdb import moviesdb as mdb
reload(mdb)

In [103]:
tbp = mdb.TitleRatingsParser()

In [104]:
tbp.import_data()

In [106]:
db = mdb.MoviesDb()
df = db.load_table_as_df('ratings')
db.close()

In [107]:
df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21