In [48]:
from importlib import reload
from moviesdb import moviesdb as mdb
reload(mdb);
db = mdb.MoviesDb()

In [49]:
db.load_table_as_df('titles')

           tconst                                primary_title  start_year
0       tt0063540                                    Sunghursh        2013
1       tt0066787              One Day Before the Rainy Season        2019
2       tt0069049                   The Other Side of the Wind        2018
3       tt0069204                              Sabse Bada Sukh        2018
4       tt0100275                     The Wandering Soap Opera        2017
...           ...                                          ...         ...
146139  tt9916538                          Kuambil Lagi Hatiku        2019
146140  tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
146141  tt9916706                              Dankyavar Danka        2013
146142  tt9916730                                       6 Gunn        2017
146143  tt9916754               Chico Albuquerque - Revelações        2013

[146144 rows x 3 columns]

In [44]:
db.list_column_names('titles')

['tconst', 'primary_title', 'start_year']

In [45]:
db.close()